
@model FundsLibrary.InterviewTest.Web.Models.Errors.ErrorModel

@{
    ViewBag.Title = Model.ErrorHeader;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@Model.ErrorHeader</h1>
    <p>@Model.ErrorMessage</p>
    <p>@Model.ExceptionMesage</p>
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
</div>