@model IEnumerable<FundsLibrary.InterviewTest.Web.Models.FundManagerModel>

<div class="fund-managers">
    <h1>Fund managers</h1>

    <table id="table" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Manager Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fundManager in Model)
            {
                <tr class="fund-manager">
                    <td> <span class="glyphicon glyphicon-user"></span></td>
                    <td>@Html.ActionLink(fundManager.Name, "Details", new { Id = fundManager.Id })</td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/fundManager.js"></script>    
}
